#navbaritem {
    margin-top: 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.75rem;
    font-weight: 600;
    font-family: 'Space Grotesk', sans-serif;

}

#navbaritem2 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
    justify-content: center;
}

#navbaritem3,
.dropdown-item {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 300;
    padding: 10px;
    font-family: 'Space Grotesk', sans-serif;
    justify-content: center;
}
.navbarDropdown{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}
#navbaritem1:hover,
#navbaritem2:hover,
#navbaritem3:hover,
#navbarDropdown:hover {
    color: #198754;
    /* Color to be applied on hover */
}

#brandlogo {}

.middleitems {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 20%;
}

.dropdown-toggle {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
    
    justify-content: center;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.buttontext{
    font-family: 'Space Grotesk', sans-serif;
}