#navbaritem {
    margin-top: 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.75rem;
    font-weight: 600;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Glass Antiqua', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Space Grotesk', sans-serif;

}

#navbaritem2 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Glass Antiqua', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    justify-content: center;
}

#navbaritem3,
.dropdown-item {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 300;
    padding: 10px;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Glass Antiqua', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    justify-content: center;
}

#navbaritem1:hover,
#navbaritem2:hover,
#navbaritem3:hover,
#navbarDropdown:hover {
    color: #49f59431;
    /* Color to be applied on hover */
}

#brandlogo {}

.middleitems {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 20%;
}

.dropdown-toggle {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Glass Antiqua', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    justify-content: center;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.buttonn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 4px solid #66f6a4;
    border-radius: 0.5em;
    cursor: pointer;
    display: flex;
    align-self: left;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 300;
    margin:10px;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Glass Antiqua', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1;
    margin: 5px;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    

    &:hover,
    &:focus {
        color: #fff;
        outline: 0;
    }
}

.first {
    transition: box-shadow 600ms ease-in-out, color 200ms ease-in-out;

    &:hover {
        box-shadow: 0 0 40px 40px #66f6a4 inset;
    }
}

.buttontext {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 300;
    margin:5px;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Glass Antiqua', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    justify-content: center;
}